{% extends "index.html" %}
{% block authcontent %}

    <div class="card-body">
        <h3 class="mb-3 card-title text-center">Reset Password</h3>
        <form action="" method="post">
          {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
          <div class="input-group mb-3">
              <span class="input-group-text" ><i class="bi bi-envelope-fill"></i></span>
              <input type="text" id="id_email" class="form-control" name="email" required placeholder="Email address">
            </div>
            <div class="d-flex justify-content-center w-100 my-2">
                <button type="submit" class="btn btn-primary rounded-pill px-5">Reset password</button>        
            </div>

        </form>
    </div>

{% endblock authcontent %}