{% extends "index.html" %}
{% block authcontent %}

    <div class="card-body">
        <h3 class="mb-3 card-title text-center">Reset Password</h3>
        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="post">
        {% csrf_token %}
            {{ form.new_password1.errors }}
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                <input
                id="id_new_password1"
                type="password"
                class="form-control"
                name="new_password1"
                required
                placeholder="Password"
                />
            </div>
            {{ form.new_password2.errors }}
            <div class="input-group mb-3">
                <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                <input
                id="id_new_password2"
                type="password"
                class="form-control"
                name="new_password2"
                required
                placeholder="Password"
                />
            </div>
            <div class="d-flex justify-content-center w-100 my-2">
                <button type="submit" class="btn btn-primary rounded-pill px-5">
                    Change my password
                </button>
            </div>
        </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock authcontent %}